body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #45a049;
}

#start-quiz h2 {
    margin-bottom: 20px;
}

button {
    background-color: #45a049; /* Verde bonito */
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2e5a2e; /* Verde um pouco mais escuro no hover */
}

#quiz-container {
    margin-top: 30px;
}

footer {
    margin-top: 50px;
    font-size: 14px;
    color: #888;
}
